.postCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  padding: 16px;
  border-radius: 8px;
}

.postCardTitle {
  font-style: italic;
}

.postCardTitle a {
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
}

.postCardTitle a:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.postCardAuthor {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  opacity: 0.75;
}

.postCardAuthor:hover {
  text-decoration: u;
  color: inherit;
  opacity: 1;
  transition: opacity 0.3s;
}

.postCardFooter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.light {
  background-color: #f5f5f5;
  color: #000;
}

.dark {
  background-color: #4f4f4f;
  color: #fff;
}

.toggleButton {
  font-size: 16px;
  padding: 0;
}
