.postCard {
  border: none;
  padding: 16px;
  border-radius: 8px;
}

.postCard > *:not(:last-child) {
  margin-bottom: 16px;
}

.postCardTitle {
  font-style: italic;
}

.postCardFooter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.light {
  background-color: #f5f5f5;
  color: #000;
}

.dark {
  background-color: #444;
  color: #fff;
}

.toggleButton {
  font-size: 16px;
  padding: 0;
}
