.userTodoList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #646464;
  color: #e0dddd;
}
