.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #646464;
  color: #e0dddd;
}