.albumPhotos {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #646464;
  color: #e0dddd;
}
